
html {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


img {
    width: 640px;
}


@media (min-width: 40rem) {

    .wrapper {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2em;    
    }

}

.wrapper {
    max-width: 666px;
    margin: 0 auto;
    background-color: #3b64e4;
    color: #fff;
    padding: 2em;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wrapper a {
    color: #fff;
}

header img {
   width: 270px; 
}

main img {
    max-width: 100%;
    height: auto;
}

footer {
    grid-column: 1 / span 2;
    padding: 2em;
    text-align: right;
}